<section>
    <form method="POST" action="/login/">
        <div>
            <input type="text" name="summonerName" id="summonerName" placeholder="YourSummonerName" />
        </div>
        <div>
            <input type="submit" value="Find Summoner">
        </div>
    </form>
</section>